<!-- ดึง layout.html มาใช้-->
{% extends "layout.html" %}

<!-- ดึงฟังก์ชันการแปลงตัวเลขให้อยู่ในรูปของสกุลเงิน โดยดึง humanize จาก setting -->
{% load humanize %}

<!-- แทรกส่วน 'Home page' ในหน้า index ไปไว้ในไฟล์ layout-->
<!-- ตัว product_details ดึงมาใช้จาก views.py โดยดึงส่วน {"product_details"} มาใช้-->
{% block title %}
Product Details | {{search_product.name}}
{% endblock %}

<!-- แทรกส่วนของ index มาวางในส่วนของ block content ในไฟล์ layout -->
{% block content %}
<!-- เนื้อหา (Content) -->
<section class="container my-5">
    <br><br><br><br>
    <div class="text-center">
        <svg fill="none" height="190" viewBox="0 0 150 190" width="150" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" d="m38.155 140.475 10.833-78.3642 43.881 4.946 18.568 23.955-8.041 57.1092zm45.858-46.4732 4.814-22.195-34.781-3.5-9.854 67.1502 54.143 6.627 6.542-45.2752zm-24.242 29.5932c-.377-.496-3.721-3.296-4.35-4.162 8.899-9.911 30.629-9.788 36.664 3.324-1.005.371-5.495 2.315-6.375 2.81-2.518-7.317-17.265-9.625-25.939-1.972zm16.732-27.0962-3.666 2.76-5.515-6.642-7.507 4.03-3.029-5.069 6.829-3.427-4.526-5.452 5.5-3.68 4.39 6.439 7.819-3.925 2.356 4.731-7.047 3.783z" fill="#000" fill-rule="evenodd"/></svg>
        </svg>
        <br>
        <h1 class="my-4"><strong>The product your looking for is not available</strong></h1>
        <div class="mbr-section-btn pt-3">
            <a href="/index" class="btn btn-primary display-4">
                <i class="bi bi-house-door"></i>&nbsp;
                Return to home page.
            </a>
        </div>
        <br><br>
    </div>
</section>
{% endblock %}