<!-- ดึง layout.html มาใช้-->
{% extends "layout.html" %}

<!-- ดึงฟังก์ชันการแปลงตัวเลขให้อยู่ในรูปของสกุลเงิน โดยดึง humanize จาก setting -->
{% load humanize %}

<!-- แทรกส่วน 'Home page' ในหน้า index ไปไว้ในไฟล์ layout-->
<!-- ตัว product_details ดึงมาใช้จาก views.py โดยดึงส่วน {"product_details"} มาใช้-->
{% block title %}
Product Details | {{search_product.name}}
{% endblock %}

<!-- แทรกส่วนของ index มาวางในส่วนของ block content ในไฟล์ layout -->
{% block content %}
    <!-- เนื้อหา (Content) -->
    <div class="container my-3">
        <div class="card-wrapper">
            <div class="row align-items-center mt-4">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="{{search_product.image.url}}">
                    </div>
                </div>
                <div class="col-12 col-lg-6 my-4">
                    <div class="text-box">
                        <h5 class="mbr-title mbr-fonts-style display-5">
                            <strong> {{search_product.name}} </strong>
                            <p class="display-7 text-secondary">In stock {{search_product.stock}}</p>
                        </h5>
                        <p class="mbr-text mbr-fonts-style display-7"> {{search_product.description}} </p>
                        <div class="cost">
                            <span class="currentcost mbr-fonts-style pr-2 display-5">Price : {{search_product.price | intcomma }} Baht</span>
                        </div>
                        <div class="mbr-section-btn pt-3">
                            {% if search_product.stock <= 0 %}
                                <!--<strong> ใช้ทำให้คำที่คลอบไว้หนาขึ้น-->
                                <h5 class= "mx-2 text-secondary"><strong>Out of stock</strong></h5>
                            {% else %}
                            <a href="{% url 'Add_Product' search_product.id %}" class="btn btn-primary display-4">
                                <i class="bi bi-cart3"></i></i>&nbsp;
                                Add to cart
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock %}