<!-- ดึง layout.html มาใช้-->
{% extends "layout.html" %}

<!-- แทรกส่วน 'Home page' ในหน้า index ไปไว้ในไฟล์ layout-->
{% block title %}
Register
{% endblock %}

<!-- แทรกส่วนของ index มาวางในส่วนของ block content ในไฟล์ layout -->
{% block content %}
<!-- เนื้อหา (Content) -->
<section class="form7 cid-tsJ8wGtENs" id="form7-q">
    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Register</strong>
            </h3>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form">
                <form method="POST" class="mbr-form form-with-styler mx-auto">
                    <!-- นำข้อมูลของ user ไปเก็บในรูปของ POST method-->
                    {% csrf_token %}
                    <!-- ตรวจสอบว่ามีการส่ง massages จาก views.py มาแสดงผลใน register.html หรือไม่-->
                    {% if messages %}
                        <!-- นำข้อมูล error, success massage มาแสดงผล -->
                        {% for alerts in messages %}
                        <div class="alert alert-{{alerts.tags}}" role="alert">
                            <!-- ตัวแสดงผล massage ที่ได้รับ-->
                            {{alerts}}
                        </div>
                        {% endfor %}
                        <!-- เป็นการรูปเมื่อทำการ register สำเร็จจะแสดงขึ้นมา-->
                        {% if register_complete %}
                        <!-- เป็น popup เมื่อทำการสมัครสมาชิกสำเร็จ แล้วจะเป็นการนำ user ไปหน้า login -->
                        <script>
                            setTimeout(function() {
                                register_notification();
                            }, 1000);
                        </script>
                        {% endif %}
                    {% endif %}
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <input type="email" name="email" placeholder="Email" class="form-control" value="">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <input type="text" name="username" placeholder="Username" class="form-control" value="">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <input type="text" name="firstname" placeholder="First Name" class="form-control" value="">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <input type="text" name="lastname" placeholder="Last Name" class="form-control" value="">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <input type="password" name="password1" placeholder="Password" class="form-control" value="">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <input type="password" name="password2" placeholder="Confirm Password" class="form-control" value="">
                        </div>
                        <div class="col-auto mbr-section-btn align-center">
                            <button type="submit" class="btn btn-primary display-4">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section
{% endblock %}